h1{
    text-align: center;
    font-size: 45PX;
    color:black
    
} body{
background-color: dimgrey;
}
nav{
    text-align: center;
}
nav a {
    color: black;
}
h2{
    text-align: center;
}
H3{
    text-align: center;
}