p {
    font-size: 25px;
}
body{
   background-color: dimgrey;     
} 
h1{
    text-align: center;
   color:black ; 
   font-size: 45px;
}
h2{
    text-align: center;
    font-size: 40px;
}
header{
    background-color: grey;
}
nav{
    text-align: center;
}
nav a{
    color: black;
}
img{
    border:solid 2px;
    color:black;
}
