h1{
    text-align: center;
    font-size: 45PX;
    color:black
    
} body{
background-color: dimgrey;
}
h3{
font-size:25px;
color: black;
}
nav{
text-align: center;
}
nav a{
    color:black ;
}
header{
    background-color: grey;
}
h2{
    text-align: center;
    font-size: 30px;
    }
    form{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    img{
      border: solid 4px; 
    }